# Random Forest

## What is it?
- a type Ensemble Machine Learning algorithm called Bootstrap Aggregation or bagging.
- a "forest" of suboptimal Decision Trees

## How does it work?

#### Bagging Process: 

   - Bootstrapping: 
       - randomly grabbing out of original "bag"
           - can repeat the same row more than once
           - can leave out rows
           
   - take an average of the bootstrapped samples

#### Pros:
- reduction of overfitting
- more acurate than desicion trees
- natureally performs featuer selection

#### Cons:
- slow real time prediction
- difficult to implement
- completx algorith so difficult to explain

_______________

# Example
- what type of species of flower inside the iris dataset

In [14]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np

from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import confusion_matrix, classification_report

In [22]:
from pydataset import data
from sklearn.model_selection import train_test_split
import pandas as pd

In [3]:
#import dataframe
df= data('iris')

In [4]:
#check data- no nulls, no columns to drop
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [5]:
#split our data
train, test = train_test_split(df, train_size=0.8, random_state=1349, stratify=df.Species)

In [7]:
#split train
train, validate = train_test_split(train, train_size= 0.7, random_state = 1349, stratify=train.Species)

In [9]:
#get shape of all three samples
train.shape, validate.shape, test.shape

((84, 5), (36, 5), (30, 5))

In [10]:
#assign everything to X_train except species
X_train = train.drop(columns='Species')

#assign y_train to species only
y_train = train[['Species']]

In [11]:
#take a look at X_train
X_train.head()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
139           6.0          3.0           4.8          1.8
8             5.0          3.4           1.5          0.2
80            5.7          2.6           3.5          1.0
75            6.4          2.9           4.3          1.3
98            6.2          2.9           4.3          1.3

In [12]:
#take a look at y-train
y_train.head()

        Species
139   virginica
8        setosa
80   versicolor
75   versicolor
98   versicolor

### NOW we make our model!

In [16]:
#Step 1: make our 'thing'
clf= RandomForestClassifier()

In [17]:
#Step 2: fit the thing- ONLY FIT ON TRAIN
clf.fit(X_train, y_train)

RandomForestClassifier()

In [18]:
#Step 3: use the thing (on in-sample data, on training set)
y_pred = clf.predict(X_train)

In [19]:
y_pred

array(['virginica', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'setosa', 'versicolor', 'setosa',
       'setosa', 'setosa', 'virginica', 'setosa', 'virginica',
       'virginica', 'versicolor', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'setosa', 'virginica', 'versicolor',
       'setosa', 'virginica', 'setosa', 'virginica', 'setosa',
       'versicolor', 'virginica', 'setosa', 'setosa', 'virginica',
       'setosa', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'setosa', 'virginica',
       'virginica', 'setosa', 'virginica', 'virginica', 'virginica',
       'versicolor', 'setosa', 'setosa', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'setosa', 'versicolor', 'versicolor',
       'setosa', 'virginica', 'versicolor', 'virginica', 'setosa',
       'virginica', 'virginica', 'setosa', 'virginica', 'setosa',
       'versicolor', 'versicolor', 'setosa', 'versicolor', 'virginica',
       'setosa', 'setosa', 'virginica', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'virginica', 'versicolor'],
      dtype=object)

In [20]:
classification_report(y_train.Species, y_pred)

'              precision    recall  f1-score   support\n\n      setosa       1.00      1.00      1.00        28\n  versicolor       1.00      1.00      1.00        28\n   virginica       1.00      1.00      1.00        28\n\n    accuracy                           1.00        84\n   macro avg       1.00      1.00      1.00        84\nweighted avg       1.00      1.00      1.00        84\n'

In [21]:
#make it look cleaner- turns into dictionary
classification_report(y_train.Species, y_pred, output_dict=True)

{'setosa': {'precision': 1.0, 'recall': 1.0, 'f1-score': 1.0, 'support': 28},
 'versicolor': {'precision': 1.0,
  'recall': 1.0,
  'f1-score': 1.0,
  'support': 28},
 'virginica': {'precision': 1.0,
  'recall': 1.0,
  'f1-score': 1.0,
  'support': 28},
 'accuracy': 1.0,
 'macro avg': {'precision': 1.0,
  'recall': 1.0,
  'f1-score': 1.0,
  'support': 84},
 'weighted avg': {'precision': 1.0,
  'recall': 1.0,
  'f1-score': 1.0,
  'support': 84}}

In [24]:
#make it look even BETTER- turn dictionary into DataFrame
pd.DataFrame(classification_report(y_train.Species, y_pred, output_dict=True))

           setosa  versicolor  virginica  accuracy  macro avg  weighted avg
precision     1.0         1.0        1.0       1.0        1.0           1.0
recall        1.0         1.0        1.0       1.0        1.0           1.0
f1-score      1.0         1.0        1.0       1.0        1.0           1.0
support      28.0        28.0       28.0       1.0       84.0          84.0

In [25]:
#shows accuracy score for train set
clf.score(X_train, y_train)

1.0

## ONLY fit on train set!

In [26]:
#y predication for validate set
y_pred_val= clf.predict(validate.drop(columns='Species'))

In [27]:
clf.score(validate.drop(columns='Species'), y_pred_val)

1.0

____________________________

# Example 2
- predict 'drive' based on 'cty' and 'hwy' (miles)

In [31]:
df = data('mpg')

In [30]:
#look at data
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [32]:
#split data
train, test = train_test_split(df, train_size=0.8, random_state=1349, stratify=df.drv)

In [33]:
#split train
train, validate = train_test_split(train, train_size= 0.7, random_state = 1349, stratify=train.drv)

In [47]:
#make the thing- change max_depth to not overfit
clf = RandomForestClassifier(max_depth=2)

In [48]:
#fit the thing
clf.fit(train[['displ', 'cty', 'hwy']], train.drv)

RandomForestClassifier(max_depth=2)

In [49]:
y_pred = clf.predict(train[['displ', 'cty', 'hwy']])

In [50]:
#score of train set
clf.score(train[['displ', 'cty', 'hwy']], train.drv)

0.7615384615384615

In [51]:
#score of validate set
clf.score(validate[['displ', 'cty', 'hwy']], validate.drv)

0.8596491228070176

In [54]:
y_pred_proba = clf.predict_proba(train[['displ', 'cty','hwy']])

In [55]:
#this will show you the probability of [display, city, highway]
y_pred_proba

array([[0.84200934, 0.01984414, 0.13814652],
       [0.27757554, 0.6775154 , 0.04490906],
       [0.82713233, 0.02610677, 0.1467609 ],
       [0.21848734, 0.75675526, 0.0247574 ],
       [0.20483405, 0.76256156, 0.03260439],
       [0.48444985, 0.16721187, 0.34833827],
       [0.20595806, 0.75480485, 0.03923709],
       [0.47618062, 0.17394264, 0.34987674],
       [0.26761709, 0.68607639, 0.04630652],
       [0.4032249 , 0.52024164, 0.07653346],
       [0.63999956, 0.0574945 , 0.30250594],
       [0.4004138 , 0.44426315, 0.15532305],
       [0.76532345, 0.13579396, 0.09888259],
       [0.12165213, 0.86881341, 0.00953446],
       [0.25562323, 0.58325166, 0.1611251 ],
       [0.3641321 , 0.56793284, 0.06793506],
       [0.49136661, 0.29730486, 0.21132853],
       [0.85332355, 0.02055843, 0.12611802],
       [0.42558293, 0.3143093 , 0.26010777],
       [0.31337093, 0.57361027, 0.1130188 ],
       [0.77892064, 0.01942606, 0.2016533 ],
       [0.48615244, 0.33997781, 0.17386975],
       [0.12165213, 0.86881341, 0.00953446],
       [0.16640752, 0.81642698, 0.0171655 ],
       [0.78098671, 0.01942606, 0.19958724],
       [0.8291159 , 0.03269274, 0.13819136],
       [0.26644933, 0.68329678, 0.05025389],
       [0.24895346, 0.71070516, 0.04034137],
       [0.3943565 , 0.52355553, 0.08208797],
       [0.84647362, 0.02055843, 0.13296795],
       [0.29232877, 0.50983385, 0.19783738],
       [0.36160114, 0.17130781, 0.46709105],
       [0.63999956, 0.0574945 , 0.30250594],
       [0.17420203, 0.80832678, 0.01747119],
       [0.35552717, 0.48552871, 0.15894412],
       [0.26761709, 0.68607639, 0.04630652],
       [0.14236746, 0.8453798 , 0.01225274],
       [0.12165213, 0.86881341, 0.00953446],
       [0.12165213, 0.86881341, 0.00953446],
       [0.78628721, 0.01878089, 0.19493189],
       [0.13423086, 0.85410992, 0.01165922],
       [0.23386786, 0.72802147, 0.03811067],
       [0.21844416, 0.75390251, 0.02765333],
       [0.41213313, 0.50778384, 0.08008303],
       [0.85332355, 0.02055843, 0.12611802],
       [0.84777164, 0.03557085, 0.11665751],
       [0.34270429, 0.59940173, 0.05789397],
       [0.8291159 , 0.03269274, 0.13819136],
       [0.12165213, 0.86881341, 0.00953446],
       [0.39002668, 0.54033392, 0.0696394 ],
       [0.26433959, 0.3213906 , 0.41426981],
       [0.49502084, 0.33666392, 0.16831524],
       [0.11995622, 0.87050931, 0.00953446],
       [0.12165213, 0.86881341, 0.00953446],
       [0.38410429, 0.55085853, 0.06503719],
       [0.82501155, 0.0411192 , 0.13386925],
       [0.11995622, 0.87050931, 0.00953446],
       [0.21867968, 0.75346699, 0.02785333],
       [0.20861438, 0.76705822, 0.0243274 ],
       [0.85332355, 0.02055843, 0.12611802],
       [0.71569594, 0.1891192 , 0.09518486],
       [0.26761709, 0.68607639, 0.04630652],
       [0.25024989, 0.71807949, 0.03167061],
       [0.85332355, 0.02055843, 0.12611802],
       [0.78628721, 0.01878089, 0.19493189],
       [0.75962325, 0.01809309, 0.22228366],
       [0.5535941 , 0.2110125 , 0.2353934 ],
       [0.24895346, 0.71070516, 0.04034137],
       [0.85332355, 0.02055843, 0.12611802],
       [0.12165213, 0.86881341, 0.00953446],
       [0.14260298, 0.84494428, 0.01245274],
       [0.21637199, 0.75542986, 0.02819816],
       [0.84989241, 0.02055843, 0.12954917],
       [0.71954376, 0.1891192 , 0.09133704],
       [0.78080236, 0.01878089, 0.20041674],
       [0.78098671, 0.01942606, 0.19958724],
       [0.17685182, 0.80573399, 0.01741418],
       [0.61154506, 0.23311934, 0.1553356 ],
       [0.26007967, 0.70492378, 0.03499655],
       [0.41811124, 0.31971653, 0.26217223],
       [0.14236746, 0.8453798 , 0.01225274],
       [0.82501155, 0.0411192 , 0.13386925],
       [0.12165213, 0.86881341, 0.00953446],
       [0.71569594, 0.1891192 , 0.09518486],
       [0.5255359 , 0.37283962, 0.10162447],
       [0.84647362, 0.02055843, 0.13296795],
       [0.41068504, 0.48438693, 0.10492803],
       [0.27757554, 0.6775154 , 0.04490906],
       [0.5535941 , 0.2110125 , 0.2353934 ],
       [0.70662813, 0.01806471, 0.27530715],
       [0.4032249 , 0.52024164, 0.07653346],
       [0.14236746, 0.8453798 , 0.01225274],
       [0.24589582, 0.70497277, 0.04913141],
       [0.24143138, 0.72189801, 0.03667061],
       [0.39552427, 0.52633513, 0.0781406 ],
       [0.73640428, 0.01274893, 0.25084679],
       [0.43012018, 0.30120751, 0.2686723 ],
       [0.13963423, 0.84838178, 0.01198399],
       [0.85332355, 0.02055843, 0.12611802],
       [0.11995622, 0.87050931, 0.00953446],
       [0.29183632, 0.61749488, 0.0906688 ],
       [0.29183632, 0.61749488, 0.0906688 ],
       [0.35759901, 0.5613837 , 0.08101729],
       [0.8478387 , 0.02055843, 0.13160287],
       [0.29034635, 0.32593791, 0.38371574],
       [0.13423086, 0.85410992, 0.01165922],
       [0.38146085, 0.53204292, 0.08649623],
       [0.22731391, 0.73536893, 0.03731716],
       [0.84925604, 0.01995237, 0.13079159],
       [0.71553084, 0.17303536, 0.1114338 ],
       [0.26644933, 0.68329678, 0.05025389],
       [0.37640693, 0.28718427, 0.3364088 ],
       [0.41955344, 0.48107304, 0.09937351],
       [0.3943565 , 0.52355553, 0.08208797],
       [0.23594003, 0.72649413, 0.03756584],
       [0.48309738, 0.30403563, 0.21286699],
       [0.18733818, 0.78996994, 0.02269188],
       [0.26761709, 0.68607639, 0.04630652],
       [0.47618062, 0.17394264, 0.34987674],
       [0.37481857, 0.55990614, 0.06527528],
       [0.85332355, 0.02055843, 0.12611802],
       [0.82370118, 0.02610677, 0.15019205],
       [0.78628721, 0.01878089, 0.19493189],
       [0.3943565 , 0.52355553, 0.08208797],
       [0.12165213, 0.86881341, 0.00953446],
       [0.37481857, 0.55990614, 0.06527528],
       [0.16640752, 0.81642698, 0.0171655 ],
       [0.84200934, 0.01984414, 0.13814652],
       [0.14236746, 0.8453798 , 0.01225274],
       [0.75852482, 0.16341554, 0.07805965]])