In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from pydataset import data

## Tidy Data Exercises

1. Attendance Data

- a. Load the attendance.csv file and 
- b. calculate an attendance percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

2. Coffee Levels

- a. Read the coffee_levels.csv file.
- b. Transform the data so that each carafe is in it's own column.
- c. Is this the best shape for the data?

3. Cake Recipes

- a. Read the cake_recipes.csv data. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.
- b. Tidy the data as necessary.
- c. Which recipe, on average, is the best? recipe b
- d. Which oven temperature, on average, produces the best results? 275
- e. Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees

#### 1a. Load the attendance.csv file

In [2]:
attendance = pd.read_csv('untidy-data/attendance.csv')

In [ ]:
attendance.head()

In [ ]:
sales.shape

In [ ]:
attendance.info()

In [3]:
#melt data
attendance_melt= attendance.melt(id_vars='Unnamed: 0', var_name='date',value_name='attendance')
attendance_melt.head()

  Unnamed: 0        date attendance
0      Sally  2018-01-01          P
1       Jane  2018-01-01          A
2      Billy  2018-01-01          A
3       John  2018-01-01          P
4      Sally  2018-01-02          T

In [4]:
#rename column
attendance_melt = attendance_melt.rename(columns={'Unnamed: 0': 'name'})
attendance_melt.head()

    name        date attendance
0  Sally  2018-01-01          P
1   Jane  2018-01-01          A
2  Billy  2018-01-01          A
3   John  2018-01-01          P
4  Sally  2018-01-02          T

#### 1b. calculate an attendance percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [ ]:
#p=1 = 100%
#a=0 = 0% absent
#t=.9 = 90% tardy
#h=.5 = 50% half day

In [5]:
#create function to turn letter grade into numeric grade
def attendance_percent(letter):
    if letter == 'P':
        return 1
    elif letter == 'A':
        return 0
    elif letter == 'T':
        return 0.9
    elif letter == 'H':
        return 0.5

In [6]:
#correct code to apply function: df['column']=df['column'].apply(function)
#turn letter grade into numeric
attendance_melt['attendance']=attendance_melt['attendance'].apply(attendance_percent)

In [8]:
attendance_melt.head()

    name        date  attendance
0  Sally  2018-01-01         1.0
1   Jane  2018-01-01         0.0
2  Billy  2018-01-01         0.0
3   John  2018-01-01         1.0
4  Sally  2018-01-02         0.9

In [11]:
#group by the name of the student to get average for each person
attendance_melt.groupby('name').attendance.mean()

name
Billy    0.5250
Jane     0.6875
John     0.9125
Sally    0.7625
Name: attendance, dtype: float64

_________________________

#### 2a. Read the coffee_levels.csv file.

#### 2b. Transform the data so that each carafe is in it's own column.

#### 2c. Is this the best shape for the data?

_____________________

#### 3a. Read the cake_recipes.csv data.

#### 3b. Tidy the data as necessary.

#### 3c. Which recipe, on average, is the best? recipe b

#### 3d. Which oven temperature, on average, produces the best results? 275

#### 3e. Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees